* {
  font-family: 'Roboto', sans-serif;
}



.container-header {
  display: flex;
  flex-wrap: wrap;
  text-align: right;

}

.logo {
  width: 10%;
  height: 50px;
}

.main-name {
  width: 90%;
}

.main-title {
  width: 100%;
}

.header-hr {
  width: 100%;
}
